header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    border-bottom: 2px solid white;
}
header a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100px;
    line-height: 75px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 20px;
    transition: background-color 1s ease;
    text-align: center;
}
.toTop{
    position: fixed;
    right:50px; 
    bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border:0;
    background-color: rgb(33, 175, 40);
    font-size: 40px;
    line-height: 100px;
    cursor: pointer;
    outline: none;
}

.active{
    background-color: rgb(33, 175, 40);
}
@media (max-width:650px){
    
    header a {
        font-size: 20px;
        padding: 0 10px;
        width: calc(100% / 3);

    }
}
