.container{
    width: 100%;
}
img{
    display: block;
    margin: 50px auto;
}
button{
    display: block;
    margin: 50px auto;
    height: 50px;
    width: 150px;
    font-size: 22px;
    border: none;
    color: #fff;
    background-color:rgb(33, 175, 40);
    border-radius: 100px;
}
button:hover{
    background-color: #fff;
    color:rgb(33, 175, 40);
    border:2px solid rgb(33, 175, 40);
    cursor: pointer;
}